@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
  --title-padding: 0px 0px 10px 0px;
  --pane-padding: 10px;
  --navigation-color: #FAFAFA;
  --main-color: #5E72C1;
  --main-title-color: #FDFDFD; 
  --task-list-color: #FDFDFD;
  --icon-height: 24px;
  --details-color: #FAFAFA;
  --text-color: #474749;
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

li:hover {
  filter: brightness(95%);
}

li:active {
  filter: brightness(97%);
}

.title {
  padding: var(--title-padding);
}

.icon {
  max-height: var(--icon-height);
  margin-right: 5px;
}

.navigation {
  background-color: var(--navigation-color);
  padding: var(--pane-padding);
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
}

.navigation .separator {
  border: none;
  margin: 5px;
}

.navigation li {
  background-color: var(--navigation-color);
  height: 40px;
  font-size: 1.2rem;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.actions {
  margin-top: auto;
}

.main {
  background-color: var(--main-color);
  padding: var(--pane-padding);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.main .title {
  color: var(--main-title-color);
}

.main .task-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.main .task {
  background-color: var(--task-list-color);
  font-size: 1.2rem;
  height: 50px;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  border-radius: 10px;
}

.main .actions input {
  cursor: text;
  padding-left: 35px;
}

.main .actions input:hover {
  border: 1px solid gray;
}

.main .actions input:focus {
  outline: none;
}

.main .actions .icon {
  content: url('../assets/add.svg');
  filter: invert(49%) sepia(0%) saturate(1%) hue-rotate(177deg) brightness(92%) contrast(85%);
  position: relative;
  top: 40px;
  left: 8px;
}

.main .actions .icon:has(+ input:focus){
  content: url('../assets/radio-button.svg');
  filter: none;
}

.task img {
  height: 24px;
}

.details {
  background-color: var(--details-color);
  padding: var(--pane-padding);
  flex-shrink: 0;
  width: 330px;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

.details .header {
  display: flex;
  height: 30px;
  flex-flow: row nowrap;
  margin-bottom: 15px;
}

.details .icon {
  background-color: var(--details-color);
  margin-left: auto;
  max-height: 30px;
  aspect-ratio: 1 / 1;
  padding: 5px;
  border-radius: 6px;
}

.details .icon:hover {
  filter: brightness(95%);
}

.details .icon:active {
  filter: brightness(97%);
}

.details .row {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.details .notes p {
  margin-bottom: 8px;
}

.details input[type="datetime-local"] {
  flex: auto;
}

.details textarea {
  resize: vertical;
  width: 100%;
  padding: 8px;
}

.details .updated,
.details .created {
  font-size: 0.8rem;
  align-self: center;
}

.details .actions {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.details .action {
  background-color: var(--details-color);
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 6px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center
}

.details .action:hover {
  filter: brightness(95%);
}

.details .action:active {
  filter: brightness(97%);
}