@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
  --title-padding: 0px 0px 10px 0px;
  --pane-padding: 10px;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

.title {
  padding: var(--title-padding);
}

.icon {
  max-height: 100%;
  margin-right: 5px;
}

.navigation {
  background-color: darkgray;
  padding: var(--pane-padding);
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
}

.navigation .separator {
  border: none;
  margin: 5px;
  /* height: .1px; */
  background-color: dimgray;
}

.navigation li {
  background-color: darkgray;
  height: 40px;
  font-size: 1.2rem;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navigation li:hover {
  filter: brightness(95%);
}

.navigation li:active {
  filter: brightness(97%);
}

.actions {
  margin-top: auto;
}

.main {
  background-color: beige;
  padding: var(--pane-padding);
  width: 100%;
}

.details {
  background-color: lightpink;
  padding: var(--pane-padding);
  flex-shrink: 0;
  width: 330px;
}